In [2]:
import pandas as pd
import numpy as np

In [3]:
original_df = pd.read_csv(r"C:\Users\User\OneDrive\Documents\Data_CSV\data-challenge-original_sorted.csv")
protected_df = pd.read_csv(r"C:\Users\User\OneDrive\Documents\Data_CSV\protected_data_challenge_sorted.csv")

In [4]:
#selecting column ratios
ratio_columns = [
    "Groceries", "Transport", "Healthcare", "Utilities",
    "Insurance", "Eating_Out", "Entertainment", "Rent"
]

In [5]:
#filtering to keep only valid ratio columns 
valid_ratios = [col for col in ratio_columns if col in protected_df.columns and col in original_df.columns]

In [6]:
#computing ratio 
for col in valid_ratios:
    protected_df[f"{col}_to_income"] = protected_df[col] / protected_df["Income"]
    original_df[f"{col}_to_income"] = original_df[col] / original_df["Income"]

In [8]:
#checking matches with function
def rows_match(prot_row,orig_row,ratio_tolerance = 0.15):
    for col in valid_ratios:
        r1 = prot_row[f"{col}_to_income"]
        r2 = orig_row[f"{col}_to_income"]
        if not np.isclose(r1,r2,rtol = ratio_tolerance):
            return False
    if prot_row["Occupation"] != orig_row["Occupation"]:
        return False
    if prot_row["City_Tier"] != orig_row["City_Tier"]:
        return False
    return True

In [9]:
#collecting matches
matches = []

In [10]:
# Iterate through protected data 
for i, prot_row in protected_df.iterrows():
    for j, orig_row in original_df.iterrows():
        if rows_match(prot_row, orig_row):
            matches.append({
                "Protected_Index": i,
                "Original_Index": j,
                "Protected_Identifier": prot_row["Identifier"],
                "Original_Identifier": orig_row["Identifier"],
                "Protected_Name": prot_row["Name"],
                "Original_Name": orig_row["Name"]
            })
            break  # Stop after first valid match for this protected row

In [12]:
matches_df = pd.DataFrame(matches)

In [14]:
print("Total Matches Found:", len(matches_df))
matches_df

Total Matches Found: 19439

,Protected_Index,Original_Index,Protected_Identifier,Original_Identifier,Protected_Name,Original_Name
0,0,220,624cc31c096e405e380a419277f92edd,1742,b2a02e833d5fb0a1acec8eac484a5c35,Faqid Sant
1,1,975,a8f1a245b4c929389f2bb9ce3f362fc6,8215,7b19b2e03de65d3649c37ed89aeb15eb,Samar Modi
2,2,4665,7601fa252b7ce657d7d621e9686f5521,18415,1f32b8f37b1e36aab60921c7f8f6ea52,Manbir Sami
3,3,2171,c696ee63588d3c6a521a584091b295d0,17804,6afbc0354b501c51e22b8e5366852b0b,Liam Dey
4,4,2065,59a2a1627c9c944bf545fdb19efae3e6,17072,d8f9a49bc440b88a5471766e0b037fa8,Manthan Aurora
...,...,...,...,...,...,...
19434,19990,12342,f0abb6e7788b8684bf297596aee68968,2647,6202fc771982f26878016a9e823ec054,Keya Jani
19435,19993,882,34fb8d28735273cc837f6daa8279791f,7400,63cdb2c2dec3b38ba3d567324b430ef4,Zilmil Gaba
19436,19995,3999,ce35e2cc522aef2e2289c3fe0fe4051a,9110,097104db94bb61b4feaebbe936f23dcf,Libni Shroff
19437,19997,5928,747c5f566a49464b53287ff9f9d63e49,19076,54f22998d5e82fb556f56f4fd743d850,Lopa Ben
19438,19998,2009,a8d9fdd50b7cc861de964a82dbb9f2a4,16621,89f9e5eef249ad278f33b00ae9488164,Pratyush Dara

In [15]:
matches_df.to_csv(r"C:\Users\User\OneDrive\Documents\Data_CSV\matches.csv")